// Variables

// Colors and Font Colors:
$charcoal: #282827;
$orange: #E25D33;
$sand: #DCD8CF; 
$white: #ffffff;

// Font Family:
$font-style-headings: Open Sans, Helvetica, Arial, sans-serif;

// Font Weight:
$Font-Light: 300;
$Font-Bold: 700;

// Borders
$border-style-grey: 1px $charcoal solid;
$border-style-sand: 1px $sand solid;